.navbar_gjestebok{
    padding: 20px;
    background-color: white;
  box-shadow: 0px 2px 4px -1px rgba(0, 48, 96, 0.1), 0px 5px 4px rgba(0, 48, 96, 0.04), 0px 1px 10px rgba(0, 48, 96, 0.02);
}
.header_logo{
    line-height: 36px;
}
.header_logo img{
    height: 32px;
}
.header_dropdown{
    float: right;
}
.mat-form-field-infix {
    display: contents !important;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;
}
.header_dropdown h6{
    color: #003060;
    font-weight: 500;
    padding-right: 51px;
}
.header_dropdown img {
    position: absolute;
    top: -8px;
    right: 22px;
}
a{
    color: #97ACCB;
}
