.client_dashboard{
    background: #e5e5e5;
    padding: 50px 0;
}
.client_dashboard h2{
    color: #97ACCB;
    margin-bottom: 8px;
}
.client_dashboard h1{
    color: #003060;
    font-weight: 600;
    margin-bottom: 8px;
}
.client_dashboard h4{
    color: #003060;
    margin-bottom: 8px;
}
.welcome_text{
    margin-bottom: 77px;
}
.m_36{
    margin-bottom: 36px;
}
.gray_boxes{
    display: flex;
    justify-content: space-between;
}
.w_47{
    width: 47%;
}
.txt_center{
 text-align: center;
}
.title_subtitle{
    display: inline-block;

}
.title_subtitle h5{
    font-weight: 500;
}
.show_devices {
    display: flex;
    float: right;
    background: #E8ECF2;
    border: none;
}
.title_subtitle p{
    color: #97ACCB;
}
.gray_boxes_most_used_devices .gray_box h6{
    font-size: 11px !important;
    line-height: 12px !important;
    color: #1560BD;
    padding: 4px;
    margin-bottom: 0px;
}
.gray_boxes_most_used_devices .gray_box span{
    font-weight: 600;
    font-size: 26px !important;
    line-height: 32px !important;
    color: #1560BD;
}

/* Bubble */
.bubble{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.bubble_1{
    transform: translate(107px, 34px);
    background-color: #1560BD;
    width: 230px;
    height: 230px;
    position: relative;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
   
}
.inside_info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inside_info span {
    display:block;
}
.buton{
    display: none;
    transition: 0.7s ease-in-out !important;
}

.bubble_2{
    transform: translate(-5px, 183px);
    background-color: #5D8EF0;
    width: 230px;
    height: 230px;
    position: relative;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.bubble_3{
    transform: translate(-127px, 42px);
    background-color: #00388C;
    width: 230px;
    height: 230px;
    position: relative;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}
.bubble_1:hover, .bubble_2:hover, .bubble_3:hover{
    width: 270px;
    height: 270px;
    display: block;
}
.bubble_1:hover .buton, .bubble_2:hover .buton, .bubble_3:hover .buton{
    display: block;
    transition: 0.7s ease-in-out !important;
}
.bubble_1:hover + .bubble_2{
    opacity: 50% !important;
}