<div class="client_dashboard">
    <div class="container example-sidenav-content">
       <div class="row">
          <div class="col-md-12">
             <div class="welcome_text">
                <h2>Hello, Clientadmin</h2>
                <h1>Digitaliseringsfabrikken</h1>
                <h4>Explore and manage all your workplaces, devices and guests from one place</h4>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-sm-7">
             <div class="circles_box white_box">
                <div class="title_button">
                   <h5>Workplaces overview</h5>
                   <div [routerLink]="['/workplaces']" class="blue_button">View Workplaces</div>
                </div>
                <div class="bubble">
                   <div class="bubble_1">
                      <div class="inside_info">
                         <span class="number_bubble">8</span>
                         <span class="name_bubble">Companies</span>
                         <div class="buton">
                            <button class="white_button">View companies</button>
                         </div>
                      </div>
                   </div>
                   <div class="bubble_2">
                      <div class="inside_info">
                         <span class="number_bubble">16</span>
                         <span class="name_bubble">Locations</span>
                         <div class="buton">
                            <button class="white_button">View locations</button>
                         </div>
                      </div>
                   </div>
                   <div class="bubble_3">
                      <div class="inside_info">
                         <span class="number_bubble">988</span>
                         <span class="name_bubble">Employees</span>
                         <div class="buton">
                            <button class="white_button">View employees</button>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-sm-5">
             <div class="info_section white_box m_36">
                <div class="title_button">
                   <h5>Guests today</h5>
                   <div routerLink="/guests" class="blue_button">View Guests</div>
                </div>
                <div class="gray_boxes txt_center ">
                   <div class="gray_box show_devices w_47">
                      <h6><span>32</span>Invites</h6>
                   </div>
                   <div class="gray_box show_devices w_47">
                      <h6><span>16</span>Visitors</h6>
                   </div>
                </div>
             </div>
             <div class="info_section white_box">
                <div class="title_button">
                   <h5>Most used devices</h5>
                   <div routerLink="/devices" class="blue_button">View Devices</div>
                </div>
                <div class="gray_boxes_most_used_devices">
                   <div class="gray_box">
                      <div class="gray_box show_devices">
                         <span>102</span>
                         <h6>guests <br> today</h6>
                      </div>
                      <div class="title_subtitle">
                         <h5>Homesourcing device</h5>
                         <p>Headquarters Oslo</p>
                      </div>
                   </div>
                   <div class="gray_box">
                      <div class="title_subtitle">
                         <h5>Guests today</h5>
                         <p>Headquarters Oslo</p>
                      </div>
                      <div class="gray_box show_devices">
                         <span>16</span>
                         <h6>guests <br> today</h6>
                      </div>
                   </div>
                   <div class="gray_box">
                      <div class="title_subtitle">
                         <h5>Guests today</h5>
                         <p>Headquarters Oslo</p>
                      </div>
                      <div class="gray_box show_devices">
                         <span>16</span>
                         <h6>guests <br> today</h6>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>