<h4 class="modal_title">Add location</h4>
<form [formGroup]="form" (submit)="submit(form.value)">
<div class="container gjestebok_modal">
    <div class="row">
        <div class="col-md-12">
                <h6>Location name</h6>
                <mat-form-field class="example-full-width" appearance="fill">
                  <input matInput formControlName="name" placeholder="Digitaliseringsfabrikken">
                </mat-form-field>
        </div>
        <div class="col-md-7">
                <h6>Location details</h6>
                <div class="form_border">
                    <label>Street</label>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput formControlName="name" placeholder="Glückstads gate 149">
                      </mat-form-field>
                      <div class="row">
                          <div class="col-md-7">
                            <label>City</label>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput formControlName="name" placeholder="Oslo">
                              </mat-form-field>
                          </div>
                          <div class="col-md-5">
                            <label>Postal code</label>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput formControlName="name" placeholder="0170">
                              </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <label>Country</label>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput formControlName="name" placeholder="Norway">
                              </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <label>Time zone</label>
                            <mat-form-field appearance="fill">
                              <mat-select>
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let time of times" [value]="time">{{time}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                      </div>



                </div>
        </div>

        <div class="col-md-5">
            <h6>Location entrances</h6>
            <div class="form_border entrances_section">
          <mat-form-field *ngFor="let contact of contacts?.controls; let i = index" class="example-full-width add_entrance" appearance="fill">
            <label>Entrance {{i + 1}}</label>
            <input matInput formControlName="name" placeholder="Glückstads gate 149" style="width:92%;">
            <!-- <button class="btn-remove" type="button" (click)="removeContactField(i)">x</button> -->

          </mat-form-field>
          <button class="btn-add white_button " (click)="addContactField()">Add another entrance</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div  class="col-md-12 expand_location ">
      <div class="close_icon" type="button" (click)="hideSection()" *ngIf="hideIcon">
        <mat-icon>close</mat-icon>
      </div>

      <div class="hidden_sectionn" *ngIf="isShown">
        <h6>Companies in this location</h6>
        <div class="flex_contaienr hidden_section">
          <mat-checkbox color="primary" class="example-margin">Headquarters Oslo</mat-checkbox>
          <mat-checkbox color="primary"  class="example-margin">Main office Copenhagen</mat-checkbox>
          <mat-checkbox color="primary"  class="example-margin">CHomesourcing Serbia!</mat-checkbox>
          <mat-checkbox color="primary"  class="example-margin">CHomesourcing Serbia</mat-checkbox>
          <mat-checkbox color="primary"  class="example-margin">Headquarters Oslo</mat-checkbox>
          <mat-checkbox color="primary"  class="example-margin">Homesourcing Serbia</mat-checkbox>
          <mat-checkbox color="primary"  class="example-margin">Homesourcing Serbia</mat-checkbox>
          <mat-checkbox color="primary"  class="example-margin">Main office Copenhagen</mat-checkbox>
          <mat-checkbox color="primary"  class="example-margin">Headquarters Oslo</mat-checkbox>
          <mat-checkbox color="primary"  class="example-margin">Homesourcing Serbia</mat-checkbox>
          <mat-checkbox color="primary"  class="example-margin">Headquarters Oslo</mat-checkbox>
          <mat-checkbox color="primary"  class="example-margin">Headquarters Oslo</mat-checkbox>
        </div>
      </div>


      <hr>
      <div class="right_buttons">
        <button class="white_button" mat-dialog-close="Cancel">Cancel</button>
        <button style="margin-left:20px;" class="savebtn blue_button" (click)="saveHandler()">Create Client</button>
      </div>
      <div class="left_btn">
        <button class="white_button" (click)="toggleShow()" type="checkbox" id="expand" *ngIf="hideBtn" >Add companies to location</button>
      </div>



    </div>

  </div>
</div>
</form>