<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
        <div class="center_login">
            <h3 class=" blue txt_center bold m_bottom">Welcome to Gjestbok</h3>
            <p class="text-center">Explore and manage all your workplaces, devices and guests from one place</p>
            <div class="card_login">

                <form>
                    <label for="email">Email</label>
                    <input type="text" class="form-control" placeholder="Email" required autofocus>

                    <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Password" required>
                
                <div class="extra">
                    <label>
                        <input class="checkbox_login" type="checkbox" checked="checked" name="remember"> Remember me
                      </label>
                    <a href="#" class="pull-right forgot-psw">Forgot password? </a><span class="clearfix"></span>
                </div>

                <button class="login_btn btn-block" type="submit">
                    Login</button>
                    <div class="dont_have">
                        <span>Don't have an account? <a href="#">Register now</a></span>
                    </div>
                   
 
                    </form>

            </div>
        </div>    
    </div>
</div>
</div>
<div class="waves">
    <img src="../../assets/Waves.svg" alt="no image">
</div>