<div class="container">
  <div class="row">
     <div class="col-md-12 ">
        <h4 class="modal_title">Add device</h4>
     </div>
     <form [formGroup]="devicesFormGroup" class="gjestebok_modal">
        <div class="col-md-12 ">
           <h6>Device name</h6>
           <mat-form-field class="example-full-width" appearance="fill">
              <input matInput formControlName="firstCtrl" placeholder="Oslo">
           </mat-form-field>
        </div>
        <div class="col-md-12">
           <h6>Device location</h6>
           <div class="form_border">
              <label>Location</label>
              <mat-form-field appearance="fill">
                 <mat-select>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let location of locations" [value]="location">{{location}}</mat-option>
                 </mat-select>
              </mat-form-field>
              <label>Entrance</label>
              <mat-form-field appearance="fill">
                 <mat-select>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let entrance of entrancess" [value]="entrance">{{entrance}}</mat-option>
                 </mat-select>
              </mat-form-field>
           </div>
        </div>
        <hr>
        <div class="right_btn">
           <button class="white_button"mat-dialog-close="Cancel" >Cancel</button>
           <button class="blue_button">Create device</button>
        </div>
     </form>
  </div>
</div>
<!-- End of Row -->