.sidenav {
  background: white;
  transition: all .5s ease;
  position: fixed;
  z-index: 1;
  top:94px;
  width: 5rem;
  height: 100%;

  .logo-container {
    //display: flex;
    //align-items: center;
    //padding: 0.938rem 0.938rem 0 0.938rem;
    //width: 100%;

    .logo {
      background: #fff;
      text-align: center;
      width: 3rem;
      min-width: 3rem;
      border-radius: 0.313rem;
      padding: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
      border: none;
    }

    .logo-text {
      margin-left: 1.5rem;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
    }

    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .fa-times {
        color: #fff;
        font-size: 24px;
      }
    }
  }
}

.sidenav-collapsed {
  width: 16.5625rem;
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);
  cursor: pointer;

  .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;

    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color:#97ACCB;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: all .3s ease;

      .sidenav-link-icon {
        font-size: 22px;
        width: 30px;
        min-width: 30px;
        margin: 0 0.5rem;
        text-align: center;
      }

      .sidenav-link-text {
        margin-left: 1.5rem;
      }
    }
  }

  .sidenav-nav-item:hover {
    .sidenav-nav-link {
      background-color:transparent;
      color: #1560BD;
    }
  }
}

.active {
  background-color: #F5F7FA;

  .sidenav-link-icon,
  .sidenav-link-text {
    color: #1560BD;
  }
}
.active_sub{
  background-color: white;

    ul.submenu li {
      border-left-color: #1560BD;
    }
}
li.sidenav-nav-item{
  list-style: none !important;
}
.user_card{
  display: flex;
  padding: 10px;
  background-color: #F5F7FA;
  justify-content: space-between;
  align-items: center;
  width: 100% ;
}
.user_card img{
  border-radius:8px ;
  margin: 0 0.5rem;
}

ul.submenu li {
  list-style: none;
  padding: 0 0 10px 10px;
  border-left: 1px solid #c6d1e2;
}
ul.submenu li a{
  color: #c6d1e2;
}
ul.submenu{
  padding: 10px 0 0px 10px !important;
}

.collapse_icon{
  margin-left: 30px;
}
.user_name{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #1560BD;
}
.user_role{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #97ACCB;
}