<h4 class="modal_title">Edit client</h4>
<form [formGroup]="formGroupAdd">
  <div class="gjestebok_modal d_flex">
  <div class="w_70">
    <h6>Clients deatails</h6>
     <div class="form_border">
        <label>First name</label> 
        <mat-form-field class="example-full-width" appearance="fill">
          <input matInput formControlName="name" placeholder="Digitaliseringsfabrikken">
        </mat-form-field>
      
      <label>Email</label> 
      <mat-form-field class="example-full-width" appearance="fill">
          <!-- <mat-label>Email</mat-label> -->
          <input type="email" matInput formControlName="email" placeholder="example@email.com">
          <!-- email.invalid && !email.hasError('required') -->
          <!-- <mat-error *ngIf="">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
    
     
        <label>Address</label> 
        <mat-form-field class="example-full-width" appearance="fill">
          <textarea matInput formControlName="address"  cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2" placeholder="Glückstads gate 149"></textarea>
        </mat-form-field>
      
      <label>Website</label> 
      <mat-form-field class="example-full-width" appearance="fill">
          <input matInput formControlName="website" placeholder="Address">
        </mat-form-field>
      </div>
     
    </div>
    <div class="w_30">
      <h6>Logo</h6>
    </div>
  </div>
  <div class="border_form">
    <div class="right_buttons">
      <button class="white_button" mat-dialog-close="Cancel">Cancel</button>
      <button style="margin-left:20px;" class="savebtn blue_button" (click)="saveHandler()">Save Changes</button>
    </div> 
</div>
    </form>
    
