<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Workplaces</h2>
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="First">
                    <div class="background_page admin_client">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="table_buttons">
                           
                              <div class="client_buttons">
                                
                              <button class="white_button m_right" (click)="onBtnExport()">
                                Export locations list
                              </button>
                                <button mat-raised-button  class="blue_button" (click)="openDialog()">Create location</button> <!--(click)="open(mymodal)"-->
                              </div>
                              <div fxLayout fxLayoutAlign="center center">
                                <mat-form-field fxFlex="40%">
                                  
                                  <input matInput type="text" (keyup)="doFilter($event)" placeholder="Search input" class="search">
                                  <span class='material-icons search_icon'>search</span>
                                </mat-form-field>
                              </div>
                            </div>
                      
                        
                            
                          <table mat-table [dataSource]="rowData" matSort (matSortChange)="announceSortChange($event)"  class="mat-elevation-z8">
                      
                          
                            <!-- Position Column -->
                            <!-- <ng-container matColumnDef="image">
                              <th mat-header-cell *matHeaderCellDef> </th>
                              <td mat-cell *matCellDef="let element"> <img width="40px" src="{{element.image}}" alt=""> </td>
                            </ng-container> -->
                          
                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Name"> Name </th>
                              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
                          
                            <!-- Weight Column -->
                            <ng-container matColumnDef="address">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Address"> Address </th>
                              <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                            </ng-container>
                          
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="city">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="City"> City </th>
                              <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                            </ng-container>
                      
                            <ng-container matColumnDef="post_code">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Post code"> Post code </th>
                              <td mat-cell *matCellDef="let element"> {{element.post_code}} </td>
                            </ng-container>

                            <ng-container matColumnDef="country">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Country"> Country </th>
                                <td mat-cell *matCellDef="let element"> {{element.country}} </td>
                              </ng-container>

                              <ng-container matColumnDef="entrances">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Entrances"> Entrances </th>
                                <td mat-cell *matCellDef="let element"> {{element.entrances}} </td>
                              </ng-container>
                      
                      
                            <ng-container matColumnDef="edit">
                              <th mat-header-cell *matHeaderCellDef> </th>
                              <td mat-cell *matCellDef="let element">  <img (click)="openEditDialog(element)" src="../assets/edit.png" alt="" class="c_pointer edit"> </td>
                            </ng-container>
                      
                            <ng-container matColumnDef="delete">
                              <th mat-header-cell *matHeaderCellDef> </th>
                              <td mat-cell *matCellDef="let element">  <img  src="../assets/delete.png" alt="" class="c_pointer delete"> </td>
                            </ng-container>
                          
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      
                          
                          </table>
                          
                          <mat-paginator [pageSize]="2" >
                          </mat-paginator>
                          
                          
                            </div>
                          </div>

                        </div>  
                      </div>
                </mat-tab>
                <mat-tab label="Companies">
               <app-companies></app-companies>
                </mat-tab>
                <mat-tab label="Employees">
                   <app-employees></app-employees>
                </mat-tab>
                <ng-template><button>Hello</button></ng-template>  
              </mat-tab-group>
            
        </div>
    </div>
</div>
