<div class="admin_dashboard">
        <div class="container example-sidenav-content">
            <div class="row">
                <div class="col-md-7">
                    <div class="welcome_text">
                        <h2>Welcome to Gjestebok</h2>
                        <h1>Hello Superadmin</h1>
                        <h4>Choose a client and start managing your guests and companies</h4>
                        <button role="button" class="blue_button">View all clients</button>

                    </div>
                </div>
                <div class="col-md-5">
                    <img src="../../assets/no_image.png" alt="image">
                </div>
                <div class="col-md-12">
                    <div class="viewed_clients">
                        <h4>...or choose from the recently viewed clients</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="clients_box">
                                    <div class="top_info">
                                        <span class="companies">7 companies</span>
                                        <img class="dot" src="../../assets/Ellipse 15.png" alt="dot">
                                        <span class="guests">48 guests</span>
                                        <div class="three_dots">
                                            <img class="dot" src="../../assets/dot.png" alt="dot">
                                            <img class="dot" src="../../assets/dot.png" alt="dot">
                                            <img class="dot" src="../../assets/dot.png" alt="dot">
                                        </div>
                                    </div>
                                    <div class="image_text">
                                        <img class="logo" src="../assets/Digitaliseringsfabrikken 1.png" alt="logo">
                                        <h5>Digitaliserings fabrikken</h5>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="clients_box">
                                    <div class="top_info">
                                        <span class="companies">7 companies</span>
                                        <img class="dot" src="../../assets/Ellipse 15.png" alt="dot">
                                        <span class="guests">48 guests</span>
                                        <div class="three_dots">
                                            <img class="dot" src="../../assets/dot.png" alt="dot">
                                            <img class="dot" src="../../assets/dot.png" alt="dot">
                                            <img class="dot" src="../../assets/dot.png" alt="dot">
                                        </div>
                                    </div>
                                    <div class="image_text">
                                        <img class="logo" src="../assets/Digitaliseringsfabrikken 1.png" alt="logo">
                                        <h5>Digitaliserings fabrikken</h5>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="clients_box">
                                    <div class="top_info">
                                        <span class="companies">7 companies</span>
                                        <img class="dot" src="../../assets/Ellipse 15.png" alt="dot">
                                        <span class="guests">48 guests</span>
                                        <div class="three_dots">
                                            <img class="dot" src="../../assets/dot.png" alt="dot">
                                            <img class="dot" src="../../assets/dot.png" alt="dot">
                                            <img class="dot" src="../../assets/dot.png" alt="dot">
                                        </div>
                                    </div>
                                    <div class="image_text">
                                        <img class="logo" src="../assets/Digitaliseringsfabrikken 1.png" alt="logo">
                                        <h5>Digitaliserings fabrikken</h5>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="clients_box">
                                    <div class="top_info">
                                        <span class="companies">7 companies</span>
                                        <img class="dot" src="../../assets/Ellipse 15.png" alt="dot">
                                        <span class="guests">48 guests</span>
                                        <div class="three_dots">
                                            <img class="dot" src="../../assets/dot.png" alt="dot">
                                            <img class="dot" src="../../assets/dot.png" alt="dot">
                                            <img class="dot" src="../../assets/dot.png" alt="dot">
                                        </div>
                                    </div>
                                    <div class="image_text">
                                        <img class="logo" src="../assets/Digitaliseringsfabrikken 1.png" alt="logo">
                                        <h5>Digitaliserings fabrikken</h5>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="clients_box">
                                    <div class="top_info">
                                        <span class="companies">7 companies</span>
                                        <img class="dot" src="../../assets/Ellipse 15.png" alt="dot">
                                        <span class="guests">48 guests</span>
                                        <div class="three_dots">
                                            <img class="dot" src="../../assets/dot.png" alt="dot">
                                            <img class="dot" src="../../assets/dot.png" alt="dot">
                                            <img class="dot" src="../../assets/dot.png" alt="dot">
                                        </div>
                                    </div>
                                    <div class="image_text">
                                        <img class="logo" src="../assets/Digitaliseringsfabrikken 1.png" alt="logo">
                                        <h5>Digitaliserings fabrikken</h5>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="clients_box">
                                    <div class="top_info">
                                        <span class="companies">7 companies</span>
                                        <img class="dot" src="../../assets/Ellipse 15.png" alt="dot">
                                        <span class="guests">48 guests</span>
                                        <div class="three_dots">
                                            <img class="dot" src="../../assets/dot.png" alt="dot">
                                            <img class="dot" src="../../assets/dot.png" alt="dot">
                                            <img class="dot" src="../../assets/dot.png" alt="dot">
                                        </div>
                                    </div>
                                    <div class="image_text">
                                        <img class="logo" src="../assets/Digitaliseringsfabrikken 1.png" alt="logo">
                                        <h5>Digitaliserings fabrikken</h5>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
