/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
html, body { 
    height: 100% !important; 
    background: #F5F7FA;
}
body { 
    margin: 0 !important; 
    font-family: 'Roboto', sans-serif !important; 
 }
h1{
    font-family: 'Roboto', sans-serif !important; 
    font-style: normal !important; 
    font-weight: 600; 
    font-size: 74px !important; 
    line-height: 88px !important; 
}
h2{
    font-family: 'Roboto', sans-serif !important;
    font-style: normal !important;
    font-weight: 400;
    font-size: 32px !important;
    line-height: 40px !important;
}
h3{
    font-family: 'Roboto', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 ;
    font-size: 29px !important;
    line-height: 36px !important;
}
h4{
    font-family: 'Roboto', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 ;
    font-size: 26px !important;
    line-height: 32px !important;
}
h5{
    font-family: 'Roboto', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 ;
    font-size: 23px !important;
    line-height: 28px !important;
}
h6{
    font-family: 'Roboto', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 ;
    font-size: 20px !important;
    line-height: 24px !important;
}
p{
    font-family: 'Roboto', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 ;
    font-size: 18px !important;
    line-height: 20px !important;
}
ul, ol {
    margin: 0 0 20px 0;
    padding: 0 0 0 20px;
}
ul > li {
    list-style: disc;
}
ol > li {
    list-style: decimal;
}
ul li, ol li {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
a:hover, a:focus {
    text-decoration: none !important;
    outline-offset: 0px !important;
    outline: transparent !important;
}
img, input {
    border: 0 none;
    outline: 0 none;
}
/* --------------------------------------------
    Form
-------------------------------------------- */
.mat-table{
    background: transparent !important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    width: 100%;
    /* background: #FFFFFF; */
}
table tr td {
    font-size: inherit;
    line-height: inherit;
    font-weight: normal;
    padding: 18px;
    vertical-align: middle;
    color: #003060;
    font-family: 'Roboto', sans-serif !important;
}
table tr th {
    font-size: inherit;
    line-height: inherit;
    font-weight: bold;
    padding: 18px;
    vertical-align: middle;
    color: #003060;
    font-family: 'Roboto', sans-serif !important;
}
/* --------------------------------------------
    Form
-------------------------------------------- */
form {
    width: 100%;
    display: block;
    height: auto;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
label{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #003060;
}
mat-labe{
    font-family: 'Roboto', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #003060 !important;
}
form input {
    display: block;
    width: 100%;
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 16px 0;
    border: 1px solid #DDE4EE;
    background: 0 none;
    outline: none;
    color: #1252A1;
    /* background-color: #FAFCFE; */
    font-family: 'Roboto', sans-serif !important;
}
form textarea {
    display: block;
    width: 100%;
    margin: 0 0 16px 0;
    padding: 16px;
    resize: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background: 0 none;
    border: 1px solid #DDE4EE;
    color: #1252A1;
    outline: none;
    box-sizing: border-box;
    background-color: #FAFCFE;
    font-family: 'Roboto', sans-serif !important;
}
form input[type="submit"] {
    width: auto;
    margin: 16px;
    padding: 16px;
    border-radius: 4px;
    border: none;
    background-color: #1560BD;
    font-family: 'Roboto', sans-serif !important;

}
form input::placeholder, form textarea::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #97ACCB;
    padding: 14px 16px;
    font-family: 'Roboto', sans-serif !important;
}
.c_pointer{
    cursor: pointer;
}
/* --------------------------------------------
    Button
-------------------------------------------- */
button:focus {
outline: none;
}
.blue_button{
    padding: 16px;
    background-color: #1560BD;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif !important;
    cursor: pointer;

}
.white_button{
    padding: 16px;
    background-color: #ffffff;
    border: 1px solid #DDE4EE;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1560BD;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif !important;
    cursor: pointer;
}
.blue_small_button{
    padding: 12px;
    background-color: #1560BD;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif !important;
    cursor: pointer;
}
.white_small_button{
    padding: 12px;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #1560BD;
    border: 1px solid #DDE4EE;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif !important;
    cursor: pointer;
}
.blue{
    color: #1560BD;
}
.txt_center{
    text-align: center;
}
.bold{
    font-weight: 700;
}
.w_100{
    width: 100%;
}
.m_bottom{
    margin-bottom: 24px;
}
.p_relative{
    position: relative;
}
a{
    padding: 0px;
}
.mat-form-field-infix {
    display: contents !important;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;
}
.background_page{
    background-color: #F5F7FA;
}

/* tables */
tr.mat-header-row {
    color: #97ACCB;
    /* background: #E5E5E5; */
  }
  th.mat-header-cell{
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color:#97ACCB;
}
.mat-elevation-z8 {
    box-shadow: none;
}
tr.mat-row {
    height: 56px !important;
}
.mat-cell {
    font-size: 16px;
    line-height: 20px;
    color:#003060;
}
td.mat-cell {
    border-bottom: 1px solid #DDE4EE !important;
    border-top: 1px solid #DDE4EE !important;
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
   }

   td.mat-cell:first-child {
    border-left: 1px solid #DDE4EE;
  }
  
  td.mat-cell:last-child {
    border-right: 1px solid #DDE4EE;
  }
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #97ACCB !important;
    font-size: 16px !important;
    line-height: 20px !important;
    margin-top: 6px !important;
    margin-left: 45px !important;
  }
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    display: none !important;
  }
  /* pagination */
  .mat-paginator-outer-container {
    display: flex;
    background: #E5E5E5 !important;
}
.mat-paginator-page-size {
    display: flex;
    align-items: baseline;
    margin-right: 8px;
    display: none !important;
}
.mat-paginator-container {
    width: 100% !important;
}
.mat-paginator-range-actions {
    width: 100% !important;
}
.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
    color: #003060 !important;
    font-size: 16px;
    margin: 0px !important;
}
.mat-paginator-navigation-previous{
    position: absolute !important;
    right: 60px !important;
}
.mat-paginator-navigation-next{
    position: absolute !important;
    right: 20px !important;  
}
::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
  }
  .view{
    padding: 7px 4px;
    background: #F5F7FA;
    border-radius: 4px;
    margin-right: 6px;
  }
  .edit{
    padding: 6.5px 6.5px;
    background: #F5F7FA;
    border-radius: 4px;
    margin-right: 6px;
  }
  .delete{
    padding: 7px 8px;
    background: #F5F7FA;
    border-radius: 4px;
    margin-right: 6px;
  }

  /* modals */
  .gjestebok_modal{
      padding-bottom: 30px;
  }
  .modal_title{
    color: #1560BD;
    margin-bottom: 25px;
    font-weight: 500 !important;   
  }
  .modal_subtitle{
    font-size: 18px !important;
    line-height: 24px;
    color: #003060 !important;
    margin-bottom: 25px;
  }
  .gjestebok_modal h6{
      font-size: 18px !important;
      line-height: 24px;
      color: #003060 !important;
      margin-bottom: 25px;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px;
    padding: 0px !important;
}
.gjestebok_modal input{
    padding: 14px 16px !important;
    background: #FAFCFE !important;
    border-radius: 4px !important;
    border: 1px solid #DDE4EE !important;
    font-size: 16px;
    line-height: 20px;
    color: #1252A1;
}
.gjestebok_modal textarea{
    padding: 14px 16px !important;
    height: 97px !important;
    background: #FAFCFE !important;
    border-radius: 4px !important;
    border: 1px solid #DDE4EE !important;
    font-size: 16px;
    line-height: 20px;
    color: #1252A1;
}
.gjestebok_modal input::placeholder, .gjestebok_modal textarea::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #97ACCB;
    padding: 0px;
    font-family: 'Roboto', sans-serif !important;
}
.form_border{
    border: 1px solid #DDE4EE;
    border-radius: 4px;
    padding: 16px 16px 0px 16px;
}
.d_flex{
    display: flex;
  }
  .border_form{
    border-top: 1px solid #DDE4EE;
    padding-top: 30px;
    
  }
  .right_buttons{
    float: right;
  }
  .white_box{
    background-color: #ffffff;
    border: 1px solid #DDE4EE;
    border-radius: 8px;
    padding: 24px;
  }
  .white_box h5{
   font-weight: 600;
   color: #003060;
  }
  .title_button{
      margin-bottom: 25px;
  }
.title_button h5{
    display: inline-block;
}
.title_button .blue_button{
    display: inline-block;
    float: right;
}
.gray_box{
    background: #F8FAFC;
    border: 1px solid #DDE4EE;
    border-radius: 4px;
    color: #1560BD;
    padding: 15px;
}
.gray_box span{
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    padding-right: 10px;
}
.gray_box h6{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}